

.section_padding-dc {
	padding-top: 47px;
}

.dc-image {
	
}

.title-with-text__title_view{
	color: #04545e;
	font-size: 24px;
	font-family: "RobotoBold";
	display: block;
	margin-bottom: 40px;		
}

.title-with-tex__p_view {
	font-family: "RobotoRegular";		
	font-size: 24px;
	color: #3f3f3f;	
}

.title-with-text__view {
    width: 30%;
    float:right;
}

.title-with-text__view2 {
    width: 30%;
    float:left;
}

.image-view {
    width: 50%;
    float:left;    
    z-index: 20;
    position:relative;
    top: -200px;
    left: 300px;
}

.image-view2 {
    width: 50%;
    float:right;
    z-index: 1;
    position:relative;
}

.blue-view {
    background: #0eb0c5;
    width: 500px;
    height: 200px;
    z-index: 10;
    position:relative;
    top: 100px;
}


.image-view3 {
    z-index: 20;
    position: relative;
}

.image-view4 {
    z-index: 10;
    position: relative;
    top: -400px;
    left: 700px;	
}



.dc-bg-view {
	background: url("../img/dc-bg.jpg");
}


.all-pride-view {
	padding-top: 40px;
}

@media only screen and (max-width : 792px) {
	.image-view3 {
	    z-index: 20;
	    position: relative;
	    box-shadow: 0 0 49px rgba(0, 0, 2, 0.51);
	}

	.image-view3 {
	    width: 150px;
	}

	.image-view4 {
	    z-index: 10;
	    position: relative;
	}

	.image-view4 {    
	    width: 200px;
	    top: -50px;
	    left: 70px;	
	}
}

.text_view {
	color: #04545e;
	font-family: "RobotoRegular";
	font-size: 18px;
	padding-top: 0px;
	margin: 0 auto;
}

.dc-list-view {
	color: #04545e;
	font-family: "RobotoRegular";
	font-size: 18px;	
	list-style-image: url('../img/dc-list_icon.png');
	li {
		float: left;
		margin: 20px;
	}
}

form.form-view {
	width: 270px;
	height: 380px;
	position: relative;
	top: 200px;
	background: #ffffff;
	border-radius: 25px;
	padding-top: 40px;	
	padding-bottom: 55px;
	padding-left: 0px;
	padding-right: 20px;
    box-shadow: 0 0 57px rgba(0, 0, 2, 0.75);
}

input {
	margin: 10px;
	background: #f6f6f6;
	box-sizing: border-box;
	border: none;
	width: 210px;	
}

.text_view2 {
	color: #04545e;
	font-family: "RobotoRegular";
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.order-view {
    font-size: 24px; 
   	margin-bottom: 0px;
}

div.form-view {
    background: url("../img/dc-back.jpg") no-repeat center;
    height: 665px;    
}

.all-pride-view	{
	h2 {
		padding-bottom: 0px;
	}
}

#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000; width: 100%; height: 100%;  display:none; }

.window{ 
	display: none;
	position:absolute;
	left:0;  
	top:0;
    display:none;
    z-index:9998; 
    border:none;
    .form-wrap-main{
        border:1px solid grey;
        background: #fff;
        border-radius:10px;
        padding: 10px;
    }
    .dd-close{
    	width: 30px;
    	height: 30px;
    	background: red;
        background: url(../img/kres.png) #98BE28 no-repeat center;
    	position:absolute;
    	top:8px;
    	right: 8px;
    	cursor: pointer;
    	transition: 0.5s;
    	border-radius:10px;
    }
    .dd-close:hover{
    	// background:url(../img/kres.png) #5F7C0B no-repeat center;
    }
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.image-view3 {
	    z-index: 20;
	    position: relative;
	}

	.image-view4 {
	    z-index: 10;
	    position: relative;
	    top: -400px;
	    left: 700px;	
	}

}

@media only screen and (min-width : 992px) {
	.section_padding-dc {
		padding-top: 47px;
	}


	.image-view3 {
	    z-index: 20;
	    position: relative;
	    box-shadow: 0 0 49px rgba(0, 0, 2, 0.51);
	}

	.image-view4 {
	    z-index: 10;
	    position: relative;
	    top: -400px;
	    left: 750px;
	    width:	500px;
	}


	form.form-view {
		width: 470px;
		height: 380px;
		position: relative;
		top: 200px;
		background: #ffffff;
		border-radius: 25px;
		padding-top: 40px;	
		padding-bottom: 55px;
		padding-left: 60px;
		padding-right: 60px;
		box-shadow: 0 0 57px rgba(0, 0, 2, 0.75);
	}

	input {
		margin: 10px;
		background: #f6f6f6;
		box-sizing: border-box;
		border: none;
		width: 310px;	
	}

	.text_view2 {
		color: #04545e;
		font-family: "RobotoRegular";
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.order-view {
	    font-size: 24px; 
	   	margin-bottom: 0px;
	}

	div.form-view {
	    background: url("../img/dc-back.jpg") no-repeat center;
	    height: 665px;    
	}	

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}