.clear{
	clear:both !important;
}
.df-container{
	max-width: 1190px !important;
	padding: 0 !important;
	text-align: center;
	margin: 0 auto;
}
/*CLOCKS*/

.section_view-df{
	background-color: #f9f9f9;
}

.df-caption_view{
	text-align: center;
	margin-bottom: 15px;
	display: block;
}
/*Общий блок*/
.df-clock_view-align{
	text-align: center;
	position: relative;		
	max-width: 570px;
	width: 100%;
	margin: 0 auto;	
	box-shadow: 0 0 46px rgba(0, 0, 2, 0.45);	
	margin-bottom: 30px;
}

.df-clock__left_view{	
	width: 100%;
	height:433px;
	background-color: #fcd765;	
}
.df-bg{
	background-color: #D6D7CF;
}
.df-img-absolute{
	position: absolute;	
	top:30px;
	left:50%;
	transform:translate(-50%, 0);
}
.df-clock__right_view{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;		
}

.df-clock__cap_view{
	color:#383838;
	font-size: 18px;
	font-family: "RobotoBold";
	margin: 24px 0px 11px 0px;
	display: block;
	line-height: 22px;
}
.df-clock__old-price_view{
	font-size: 14px;
	color:#717171;
	font-family: "RobotoRegular";
	text-decoration: line-through;
	display: block;	
	text-align: center;
}
.df-clock__new-price_view{
	font-size: 18px;
	color:#0b93a5;
	font-family: "RobotoBold";	
	display: block;	
	text-align: center;
}
.df-clock__characteristic_view{
	margin: 13px 0 13px 5px ;
	text-align: left;
	padding-left: 15px;
}
.df-clock__char1_view{
	background-image: url("../img/df-char1.png");
	background-repeat: no-repeat;
	background-position: center left;
	width: 24px;
	height: 17px;
	display: inline-block;
}
.df-clock__char2_view, .df-clock__char3_view{
	font-size: 16px;
	color:#5d5d5d;
	font-family: "RobotoRegular";
	display: inline-block;
	background-image: url("../img/df-char2.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left:23px;
	margin-right: 11px;
}
.df-clock__char3_view{
	background-image: url("../img/df-char3.png");
	background-repeat: no-repeat;
	background-position: center left;	
	margin-right: 0;
}
.characteristics__item_view{	
	display: table;
	width: 270px;
	text-align: center;
	margin-left:21px;
}
.characteristics__left_view, .characteristics__right_view{
	display: table-cell;
	font-size: 14px;
	color:#5d5d5d;
	font-family: "RobotoRegular";
	text-align: left;
	// width: 50%;
	line-height: 22px;
	width: 146px;		
}
.characteristics__right_view{
	color:#2e2e2e;
	width: auto;
}
.df-clock__link_view{		
	margin: 30px 0 20px 0 ;
	padding: 12px 0;
	letter-spacing: 1px;
	display: inline-block;
	color:#fff;
	border-radius: 20px;
	background: #ff0900;
	width: 175px;
	height: 45px;
	font-family: "RobotoBold";	
	transition: 0.5s;
}


/*guarantee*/

.df-guarantee{
	text-align: center;
	margin: 0 auto;	
}
.df-guarantee__right_view{
	padding:0 10px;
	text-align: center;	
}
.df-guarantee__text_view{	
	background-image: url("../img/df-ok.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding: 7px 0 0px 80px; 
	min-height: 70px;
	text-align: left;	
	margin-bottom: 14px;
}
.df-padding{
	padding-top: 5px;
}
.df-guarantee__txt_view1{
	font-size: 18px;
	color:#424242;
	font-family: "RobotoBold";
	text-transform: uppercase;
	display: block;
}
.df-guarantee__txt_view2{
	font-family: "RobotoRegular";
	font-size: 18px;
	color:#424242;
	display: block;
}
.df-guarantee__link_view{
	margin: 6px 0 23px 0;
	padding: 12px 33px;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	color:#fff;
	border-radius: 20px;
	background: #ff0900;
	font-family: "RobotoBold";
	box-shadow: 5.5px 9.5px 29px rgba(0, 0, 2, 0.36);
	transition: 0.5s;	
}
.df-guarantee__link_view:hover, .df-clock__link_view:hover{
	transition: 0.5s;
	background: darken(#ff0900,10%);
}


/*slider*/
.df-slider_view{
	position: relative;
	padding: 15px 0px;
	border:3px solid #c0f8ff;	
	max-width: 1025px;
	width: 100%;
	margin: 0 auto;
}
.df-slider__image_view{
	display: inline-block;	
}
#slider-df{
	.owl-dots{
		display: none !important;
		background-color: #0eb0c5;
		border-radius: 20px;
		width: auto;	
		height: 22px;
		padding: 0 3px;
		position: absolute;
		bottom: -45px;
		left: 50%;
		transform:translate(-50%, 0);
	}
	 .active{
		background-image: url("../img/df-slider.png");
		background-repeat: no-repeat;
		background-position: center center;	
	}
	.owl-dot{
		width: 49px;
		height: 21px;
		display: inline-block;
	}
}


/*what_good*/
.dc-what_good {   
    margin-bottom: 70px;
}

.what_good_h2{
	margin-bottom: 75px;
}
.dc-left-view_m-top{
	margin-top: 0;
}
.dc-image {
	left: 50%;
	transform:translate(-50%, 0);
	width: auto;
	top:-87px;
	position: absolute;
}
.dc-left-view{
	width: 100%;	
}
.dc-left-view_margin{
	// margin: 45% 0 30px 0;
	margin: 30% 0 30px 0;
}
.dc-left-view_m-top{
	margin: 20px 0 90px 0;
}
.df-left-view{
	margin-top: 30px;	
}
.dc-left-view2{
	width: 100%;
}
.title-with-text__view2{
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
}
.df-height{
	height: auto;
}
.dc-right-view {   
    width: 100%;    
}
.blue-view2 {
    width: 100%;
    height: 200px;    
    position: relative;
   	top: 125px;	
    background: #0EB0C5;
}
.dc-image2 {
 	width: auto;    
    position: absolute;     
    bottom: 0; 
    left: 50%;
    transform:translate(-50%, 0%);	
    padding-top: 0;
}

.dc-image3 {
    max-width: 400px;
    width: 100%;   
    position: absolute;
    top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	padding:0 30px;
}
.blue-view{
	top:0px;
	width: 100%;
}
.blue-view3{
	top:73px;
}
.title-with-text__text{
	line-height: 21.5px;
}
.title-with-text__view{
	position: none;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.title-with-text__title_view{
	margin-bottom: 15px;
	letter-spacing: -0.3px;
}
.title-with-text__view3{
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 67px;
}

@media only screen and (min-width : 320px) {
	
	.dc-left-view_margin{	
		margin: 50% 0 30px 0;
	}
}

@media only screen and (min-width : 480px) {
	.dc-left-view_margin{	
		margin: 55% 0 30px 0;
	}
}

@media only screen and (min-width : 768px) {
	.dc-left-view_margin{	
		margin: 35% 0 30px 0;
	}
}

@media only screen and (min-width : 992px) {
	/*slider*/
	.df-padding-top{
		padding-top: 37px !important;
	}
	.df-slider_view{		
			padding: 37px 47px 31px 47px;
		}
	#slider-df{		
		.owl-dots{
			display: block !important;
		}
	}
	/*guarantee*/
	.section_padding-df{
		padding-top: 95px !important;
	}
	.df-guarantee__left_view{
		float: left;
		width: 53%;
	}
	.df-guarantee__right_view{
		float: left;
		width: 47%;
		padding: 0;
		text-align: left;	
		margin-top: -17px;
		padding-left: 10px;
	}
	.df-guarantee__link_view{
		margin: 6px 0 23px 68px;
	}

	/*what good*/
	.dc-left-view_margin{	
		margin: 25% 0 30px 0;
	}
}

@media only screen and (min-width : 1248px) {
	/*clocks*/
	.df-caption_view{		
		margin-bottom: 47px;
	}
	.df-clock_view-align{		
		margin:0 30px 47px 0;				
		float: left;
	}
	.df-margin{
		margin: 0;
	}
	.df-clock__left_view{	
		width: 200px;	
		float: left;	
	}
	.df-img-absolute{	
		left: 5px;
		top:48px;	
		transform:none;
	}
	.df-clock__right_view{
		float: right;
	}
	.df-clock__link_view{		
		margin: 30px 63px 0px 0 ;		
	}
	.df-clock__cap_view{		
		margin: 24px 70px 11px 0px;		
	}
	.df-clock__old-price_view{	
		margin-left: 65px;
		text-align: left;	
	}
	.df-clock__new-price_view{		
		margin-left: 55px;
		text-align: left;		
	}


	/*what_good*/
.dc-what_good {   
    margin-bottom: 70px;
}

.what_good_h2{
	margin-bottom: 75px;
}
.title-with-text__title_view {
    margin-bottom: 40px;
}
.dc-image {
	left: auto;
	right: -105px;
	top:-87px;
	transform: none;
}
.dc-left-view, .dc-left-view2{
	width: 44%;
	margin: 0;
}
.df-left-view{
	margin-top: 171px;	
}
.title-with-text__view2{
	padding-left: 76px;
	padding-right: 0px;	
	width: auto;
}
.df-height{	
	height: 520px;
	padding-left: 220px;
	position: relative;
	top: 203px;	
	width: 56% !important;
}
.dc-right-view {
    float: left;
    width: 50%;    
}
.blue-view2 {    
    height: 200px;   
    position: unset; 
    background: #0EB0C5;
}
.dc-image2 {
    width: auto;   
    position: absolute;
	top: -180px;
	left: 42px;    
	padding-top: 0px;
	transform: none;
}

.dc-image3 {
	max-width: 100%;
    width: auto;   
    position: absolute;
    top: -72px;
	left: auto;
	right: -209px;
	// right:-58px;
	padding: 0;	
	transform: none;
}
.blue-view{
	top:103px;
	right: 150px;
}
.blue-view3{
	top:73px;
	width: auto;
}

.title-with-text__view{
	position: none;
	width: auto;
	padding-left: 47px;
	padding-right: 90px;
}
.title-with-text__view3{
	padding-right: 0;
	padding-left: 135px;
	margin-top: 67px;
}


}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}