

.section_padding-dc {
	padding-top: 47px;
}

.dc-image {
	display: block;
}

.title-with-text__title_view{
	color: #04545e;
	font-size: 24px;
	font-family: "RobotoBold";
	display: block;
	margin-bottom: 40px;		
}

.title-with-tex__p_view {
	font-family: "RobotoRegular";		
	font-size: 24px;
	color: #3f3f3f;	
}

.title-with-text__view {
    width: 30%;
    float:right;
}

.title-with-text__view2 {
    width: 30%;
    float:left;
}

.image-view {
    width: 50%;
    float:left;    
    z-index: 20;
    position:relative;
    top: -100px;
    left: 300px;
}

.image-view2 {
    width: 50%;
    float:right;
    z-index: 1;
    position:relative;
}

.blue-view {
    background: #0eb0c5;
    width: 600px;
    height: 200px;
    z-index: 10;
    position:relative;
    top: 190px;
}


.image-view3 {
    z-index: 20;
    position: relative;
}

.image-view4 {
    z-index: 10;
    position: relative;
    top: -400px;
    left: 200px;	
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.section_padding-dc {
		padding-top: 47px;
	}

	.image-view3 {
	    z-index: 20;
	    position: relative;
	}

	.image-view4 {
	    z-index: 10;
	    position: relative;
	    top: -400px;
	    left: 700px;	
	}

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}